.hobby {
  position: absolute;
}

#hobby-bjj {
  top: 0px;
  left: 0px;
  z-index: 2;
}

#hobby-philosophy {
  top: 230px;
  left: 30px;
}

#hobby-learning {
  top: 60px;
  left: 200px;
}

#hobby-nature {
  top: 180px;
  left: 100px;
}

:host {
  display: block;
  background-color: aquamarine;
  height: 300px;
  width: 300px;
}

