#hobbieswrapper {
  position: relative;
}

.circle {
  position: absolute;
  opacity: 1;
  transition: 0.1s;
  transition-timing-function: ease-out;
}

.circle:hover {
  transition: 0.1s;
  transition-timing-function: ease-out;
}

.circle:nth-of-type(1) {
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 170px;
  height: 170px;
  clip-path: circle(75px at 85px 85px);
  background-color: #fd6551;
}

.circle:nth-of-type(1):hover {
  clip-path: circle(85px at 85px 85px);
}

.circle:nth-of-type(2) {
  z-index: 2;
  top: 50px;
  left: 140px;
  width: 120px;
  height: 120px;
  clip-path: circle(50px at 60px 60px);
  background-color: #f58946;
}

.circle:nth-of-type(2):hover {
  clip-path: circle(60px at 60px 60px);
}

.circle:nth-of-type(3) {
  z-index: 4;
  top: 120px;
  left: 180px;
  width: 100px;
  height: 100px;
  clip-path: circle(40px at 50px 50px);
  background-color: #ffc545;
}

.circle:nth-of-type(3):hover {
  clip-path: circle(50px at 50px 50px);
}

.circle:nth-of-type(4) {
  z-index: 3;
  top: 135px;
  left: 90px;
  width: 160px;
  height: 160px;
  clip-path: circle(70px at 80px 80px);
  background-color: #94c048;
}

.circle:nth-of-type(4):hover {
  clip-path: circle(80px at 80px 80px);
}

.circle:nth-of-type(5) {
  z-index: 5;
  top: 150px;
  left: 10px;
  width: 120px;
  height: 120px;
  clip-path: circle(50px at 60px 60px);
  background-color: #57a3c0;
}

.circle:nth-of-type(5):hover {
  clip-path: circle(60px at 60px 60px);
}

svg {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

svg g {
  stroke: #323639;
}
