<div>
  <p class="component-title">Hobbies</p>

  <app-hobby
    id="hobby-bjj"
    class="hobby"
    [restingRadius]="120"
    [highlightRadius]="140"
    [animationDuration]="100"
    [color]="'#fd5551'"
    [label]="'BJJ'"
  ></app-hobby>

  <app-hobby
    id="hobby-philosophy"
    class="hobby"
    [restingRadius]="50"
    [highlightRadius]="60"
    [animationDuration]="100"
    [color]="'#5297b5'"
    [label]="'Philosophy'"
  ></app-hobby>

  <app-hobby
    id="hobby-learning"
    class="hobby"
    [restingRadius]="80"
    [highlightRadius]="100"
    [animationDuration]="100"
    [color]="'#f9d34c'"
    [label]="'Learning'"
  ></app-hobby>

  <app-hobby
    id="hobby-nature"
    class="hobby"
    [restingRadius]="100"
    [highlightRadius]="120"
    [animationDuration]="100"
    [color]="'#a0e950'"
    [label]="'Nature'"
  ></app-hobby>
</div>
