<div>
  <p class="component-title">Hobbies</p>

  <div class="circle"
       (click)="onClick($event)"
       popoverTitle="Nature"
       popoverDescription="Nature is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a ultrices odio. Mauris iaculis pharetra gravida. Praesent commodo sit amet mauris vel aliquam. Integer egestas molestie magna, tempus auctor erat aliquam et. Morbi vehicula, lectus ac gravida faucibus, odio sem semper risus, ut maximus odio justo at turpis.">
    <svg width="64px" height="36px" viewBox="0 0 32 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="#323639" stroke-width="0.5" fill="none">
        <polyline points="5.97335239 10.8969929 10.4257323 0 14 0"></polyline>
        <polyline points="16.1299292 10.8969929 22.3802607 0.75255866 20.266884 0.75255866"></polyline>
        <polygon points="9.45912503 2.3539696 21.3402331 2.3539696 26.3085322 10.8969929 16.1299292 10.8969929"></polygon>
        <circle cx="6" cy="10.8901864" r="5.5"></circle>
        <circle cx="26" cy="10.8901864" r="5.5"></circle>
      </g>
    </svg>
  </div>

  <div class="circle"
       (click)="onClick($event)"
       popoverTitle="BJJ"
       popoverDescription="BJJ is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a ultrices odio. Mauris iaculis pharetra gravida. Praesent commodo sit amet mauris vel aliquam. Integer egestas molestie magna, tempus auctor erat aliquam et. Morbi vehicula, lectus ac gravida faucibus, odio sem semper risus, ut maximus odio justo at turpis. Morbi vehicula, lectus ac gravida faucibus, odio sem semper risus, ut maximus odio justo at turpis. Morbi vehicula, lectus ac gravida faucibus, odio sem semper risus, ut maximus odio justo at turpis.">
    <svg width="64px" height="36px" viewBox="0 0 32 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="#323639" stroke-width="0.5" fill="none">
        <polyline points="5.97335239 10.8969929 10.4257323 0 14 0"></polyline>
        <polyline points="16.1299292 10.8969929 22.3802607 0.75255866 20.266884 0.75255866"></polyline>
        <polygon points="9.45912503 2.3539696 21.3402331 2.3539696 26.3085322 10.8969929 16.1299292 10.8969929"></polygon>
        <circle cx="6" cy="10.8901864" r="5.5"></circle>
        <circle cx="26" cy="10.8901864" r="5.5"></circle>
      </g>
    </svg>
  </div>

  <div class="circle"
       (click)="onClick($event)"
       popoverTitle="Philosophy"
       popoverDescription="Philosophy is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a ultrices odio. Mauris iaculis pharetra gravida. Praesent commodo sit amet mauris vel aliquam. Integer egestas molestie magna, tempus auctor erat aliquam et. Morbi vehicula, lectus ac gravida faucibus, odio sem semper risus, ut maximus odio justo at turpis.">
    <svg width="64px" height="36px" viewBox="0 0 32 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="#323639" stroke-width="0.5" fill="none">
        <polyline points="5.97335239 10.8969929 10.4257323 0 14 0"></polyline>
        <polyline points="16.1299292 10.8969929 22.3802607 0.75255866 20.266884 0.75255866"></polyline>
        <polygon points="9.45912503 2.3539696 21.3402331 2.3539696 26.3085322 10.8969929 16.1299292 10.8969929"></polygon>
        <circle cx="6" cy="10.8901864" r="5.5"></circle>
        <circle cx="26" cy="10.8901864" r="5.5"></circle>
      </g>
    </svg>
  </div>

  <div class="circle"
       (click)="onClick($event)"
       popoverTitle="Coding"
       popoverDescription="Coding is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a ultrices odio. Mauris iaculis pharetra gravida. Praesent commodo sit amet mauris vel aliquam. Integer egestas molestie magna, tempus auctor erat aliquam et. Morbi vehicula, lectus ac gravida faucibus, odio sem semper risus, ut maximus odio justo at turpis.">
    <svg width="64px" height="36px" viewBox="0 0 32 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="#323639" stroke-width="0.5" fill="none">
        <polyline points="5.97335239 10.8969929 10.4257323 0 14 0"></polyline>
        <polyline points="16.1299292 10.8969929 22.3802607 0.75255866 20.266884 0.75255866"></polyline>
        <polygon points="9.45912503 2.3539696 21.3402331 2.3539696 26.3085322 10.8969929 16.1299292 10.8969929"></polygon>
        <circle cx="6" cy="10.8901864" r="5.5"></circle>
        <circle cx="26" cy="10.8901864" r="5.5"></circle>
      </g>
    </svg>
  </div>

</div>
