.hobby {
  position: absolute;
}

#hobby-bjj {
  top: 0px;
  left: 100px;
}

#hobby-philosophy {
  top: 230px;
  left: 130px;
}

#hobby-learning {
  top: 60px;
  left: 300px;
}

#hobby-nature {
  top: 180px;
  left: 200px;
}
