:host {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 600px;
  z-index: 99;
  pointer-events: none;
}

#popoverWrapper {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0px;
}

.line {
  position: absolute;
  bottom: 0px;
  margin-left: 0px;
  width: 1px;
  height: 0px;
  transition: height 0.5s ease-out 0s;
}

.visibleline {
  height: 100%;
  transition: height 0.5s ease-out 0s;
}

.hiddenline {
  height: 0%;
  transition: height 0.5s ease-out 0.5s;
}

.infobox {
  margin-top: 0px;
  margin-left: 1px;
  width: 300px;
  clip-path: inset(0% 100% 0% 0%);
  transition: clip-path 0.5s ease-out 0.5s;
}

.visibleinfobox {
  clip-path: inset(0% 0% 0% 0%);
  transition: clip-path 0.5s ease-out 0.5s;
}

.hiddeninfobox {
  clip-path: inset(0% 100% 0% 0%);
  transition: clip-path 0.5s ease-out 0s;
}

#separator {
  width: 10px;
  height: 60px;
}

h1 {
  display:inline;
  margin: 0px;
  color: var(--background-color);
  font-size: 16px;
}

h1 > span {
  padding: 0px 2px 2px 0px;
  pointer-events: auto;
}

p {
  margin: 3px 0px 0px 0px;
  color: var(--foreground-color);
  font-size: 12px;
  pointer-events: auto;
}

p > span {
  background-color: rgba(50, 54, 57, 0.8); /* #323639 + alpha */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes extendLine {
  0%   {height: 0%}
  100% {height: 100%}
}

@keyframes extendLine {
  0%   {height: 0%}
  100% {height: 100%}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hideLine {
  0%   {height: 100%}
  100% {height: 0%}
}

@keyframes hideLine {
  0%   {height: 100%}
  100% {height: 0%}
}
