:host {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 600px;
  z-index: 99;
  pointer-events: none;
}

#popoverWrapper {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0px;
}

.line {
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 0px;
  margin: 0px;
  transition: height 0.5s ease-out 0s;
}

.line.right {
  left: 0px;
}

.line.left {
  right: 0px;
}

.visibleline {
  transition: height 0.5s ease-out 0s;
  height: 100%;
}

.hiddenline {
  transition: height 0.5s ease-out 0.5s;
  height: 0%;
}

.infobox {
  overflow: hidden;
  margin-top: 0 1px 0 1px;
  width: 300px;
}

.infobox > div {
  width: 300px;
}

@supports (clip-path: inset(0% 0% 0% 0%)) {

  .hiddeninfobox.left {
    transition: clip-path 0.5s linear 0s;
    clip-path: inset(0% 0% 0% 100%);
  }

  .hiddeninfobox.right {
    transition: clip-path 0.5s linear 0s;
    clip-path: inset(0% 100% 0% 0%);
  }

  .revealinfobox {
    transition: clip-path 0.5s linear 0.5s;
    clip-path: inset(0% 0% 0% 0%);
  }

  .hideinfobox.left {
    transition: clip-path 0.5s linear 0s;
    clip-path: inset(0% 0% 0% 100%);
  }

  .hideinfobox.right {
    transition: clip-path 0.5s linear 0s;
    clip-path: inset(0% 100% 0% 0%);
  }

}

@supports not (clip-path: inset(0% 0% 0% 0%)) {

  .hiddeninfobox {
    transition: opacity 0.5s linear 0s;
    opacity: 0;
  }

  .revealinfobox {
    transition: opacity 0.5s linear 3s;
    opacity: 1;
  }

  .hideinfobox {
    transition: opacity 0.5s linear 0s;
    opacity: 0;
  }

}

#separator {
  width: 10px;
  height: 60px;
}

h1 {
  display: block;
  margin: 0 0 3px 0;
  font-size: 16px;
  color: var(--background-color);
}

h1.left {
  text-align: right;
}

h1 > span {
  padding: 0px 2px 2px 0;
  pointer-events: auto;
}

.description {
  display: block;
  margin: 3px 2px 0 2px;
  color: var(--foreground-color);
  font-size: 13px;
  font-weight: 400;
  pointer-events: auto;
}

.description.left {
  text-align: right;
}

.description > span {
  background-color: rgba(50, 54, 57, 0.8); /* #323639 + alpha */
}

.subtitle {
  display: block;
  margin: 3px 2px 10px 2px;
  color: var(--foreground-color);
  font-size: 13px;
  font-weight: 400;
  pointer-events: auto;
}

.subtitle.left {
  text-align: right;
}

.subtitle > span {
  background-color: rgba(50, 54, 57, 0.8);
}
