<div id="popoverWrapper">
  <div
    class="line"
    [ngClass]="{visibleline: (animation === 'open'), hiddenline: (animation === 'close'), left: (flagDirection === 'left'), right: (flagDirection === 'right')}"
    [style.background-color]="popoverColor"></div>
  <div
    class="infobox"
    [ngClass]="{revealinfobox: (animation === 'open'), hiddeninfobox: (animation === 'none'), hideinfobox: (animation === 'close'), left: (flagDirection === 'left'), right: (flagDirection === 'right')}">
    <h1 [ngClass]="{left: (flagDirection === 'left'), right: (flagDirection === 'right')}">
      <span [style.background-color]="popoverColor">{{popoverTitle}}</span>
    </h1>
    <p [ngClass]="{left: (flagDirection === 'left'), right: (flagDirection === 'right')}">
      <span [innerHTML]="popoverDescription"></span>
    </p>
    <div id="separator"></div>
  </div>
</div>
