.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto max-content 20px;
  width: 100%;
  height: 100%;
}

.skills-wrapper {
  display: inline-block;
  width: fit-content;
  margin: auto;
}

span {
  pointer-events: none;
}

.skill-level {
  display: inline-block;
  margin: 0px 3px 0px 0px;
  width: 18px;
  transition: transform 0.1s ease-out;
}

.skill-level:hover {
  cursor: pointer;
  transform: scale(1.0, 1.2);
}
