span {
  pointer-events: none;
}

.skill-element {
  display: inline-block;
  margin: 0px 3px 0px 0px;
}

.skill-name-wrapper {
  display: inline-block;
  top: 0px;
  height: 80px;
  width: 18px;
  vertical-align: bottom;
}

.skill-name {
  left: 100;
  bottom: 0px;
  width: 200px;
  transform: translateY(65px) rotate(-35deg);
  transform-origin: left top;
  color: var(--highlight-color-1);
  font-size: 12px;
}

.skill-level {
  display: block;
  width: 18px;
  transition: transform 0.1s ease-out;
}

.skill-level:hover {
  transform: scale(1.0, 1.2);
}
