:host {
  overflow: hidden;
}

span {
  pointer-events: none;
}

.container {
  display: grid;
  grid-template-columns: 0px max-content auto;
  width: 100%;
}

.skill-element {
  display: inline-block;
  margin: 0px 3px 0px 0px;
}

.skill-name-wrapper {
  display: inline-block;
  top: 0px;
  height: 80px;
  width: 20px;
  vertical-align: bottom;
}

.skill-name {
  left: 100;
  bottom: 0px;
  width: 200px;
  transform: translateY(65px) rotate(-35deg);
  transform-origin: left top;
  color: var(--highlight-color-1);
  font-size: 13px;
}

.skill-level {
  display: block;
  width: 20px;
  transition: transform 0.1s ease-out 0s;
}

.skill-level-hovered {
  transform: scale(1.0, 1.2);
}

.skill-level:hover {
  transform: scale(1.0, 1.2);
}
