:host {
  display: grid;
  grid-template-rows: auto max-content auto;
  grid-template-columns: 1fr;
  overflow: hidden;
}

#container {
  padding: 21px 0 25px 0;
  border-bottom: 1px dashed var(--foreground-color);
}

.summary {
  color: var(--foreground-color);
  font-size: 14px;
  font-weight: 200;
}
