<div></div>
<div id="container">
  <p class="component-title">Profile</p>
  <p class="summary">
      Full stack developer with a passion for creating reliable, beautiful and intuitive products. Data enthusiasts and chart snob. Detail oriented, while at the same time cognizant of the big picture.
      Motivated and positive, with a can-do attitude.
      Curious and eager to learn.
      Goal oriented, structured, independent and adaptable, with a broad set of skills, including engineering, math and statistics, data analysis and visualization, scientific programming, web development (front and back end), IT monitoring, IT operations and team leadership.
  </p>
  <p class="summary">
      Click elements below to read more about me.
  </p>
</div>
<div></div>
