:host {
  display: grid;
  grid-template-rows: 30px max-content 30px;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.summary {
  color: var(--foreground-color);
  font-size: 14px;
  font-weight: 200;
}
