:host {
  position: relative;
}

.timeline-entry {
  position: absolute;
  height: 18px;
  box-sizing: border-box;
  padding: 1px;
  background-clip: content-box;
  top: 100px;
  background-color: var(--highlight-color-5);
  transition: transform 0.1s ease-out;
}

.timeline-entry:hover {
  transform: scale(1.0, 1.5);
}
