<p class="component-title">Testemonial</p>

<div id="container">
  <p class="summary">
    In a health trust, it is essential to ble able to manage a hecktic schedule and handle authority figures and employees in a professional way. The tasks can be of a life critical character. Daniel handles these situations exceptionally well, and was very well liked both here at the Technology Center and in the rest of the organization. He prioritized his time very well, and he was efficient an precise in his execution of all tasks. Daniel is very dependable, and he quickly obtained great trust by the organiation. He worked equally well in team as he did independently.
  </p>

  <p class="summary">
    Recommendation:
  </p>

  <p class="summary">
    I can give my warmest recommendation of Daniel as an employee.
  </p>
</div>
