:host {
  --border-style: 1px dashed #777;
}

#maintitle {
  font-size: 50px;
  text-align: center;
  color: var(--foreground-color);
  font-weight: 100;
  text-transform: uppercase;
}

#gridcontainer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: max-content 200px;
  grid-auto-rows: 300px;
  grid-gap: 30px;
  width: 960px;
  margin: 0px auto 0px auto;
}

app-summary {
  grid-column: 1 / span 3;
}

app-timeline {
  grid-column: 1 / span 3;
}

#spacer-bottom {
  height: 100px;
}

#gridcontainer > * {
  position: relative; /* Needed for absolute positioning of ::before and ::after pseudo-elements */
}

/* Vertical lines to the left of cells */
#gridcontainer > :nth-child(3n+4)::before,
#gridcontainer > :nth-child(3n+5)::before {
  position: absolute;
  top: -5px;
  left: -15px;
  content: '';
  border-left: var(--border-style);
  height: 100%;
}

/* Horizontal lines above timeline */
#gridcontainer > :nth-child(2)::before {
  position: absolute;
  top: -40px;
  left: 0;
  content: '';
  border-bottom: var(--border-style);
  width: 100%;
}

/* Horizontal lines below timeline */
#gridcontainer > :nth-child(2)::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  border-bottom: var(--border-style);
  width: 100%;
}

/* Horizontal lines above cells */
#gridcontainer > :nth-child(n+6)::after {
  position: absolute;
  top: -20px;
  left: 0;
  content: '';
  border-bottom: var(--border-style);
  width: 100%;
}
