#maintitle {
  font-size: 50px;
  text-align: center;
  color: var(--foreground-color);
  font-weight: 100;
}

#gridcontainer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  grid-gap: 30px;
  width: 960px;
  margin: 0px auto 0px auto;
}

app-summary {
  grid-column: 1 / span 3;
}

app-timeline {
  grid-column: 1 / span 3;
}

#spacer {
  height: 100px;
}
