<h1 id="maintitle">Daniel Hjertholm</h1>

<template #popover></template>

<div id="gridcontainer" #gridcontainer>
  <app-summary></app-summary>
  <app-timeline class="component" (elementClicked)="childElementClicked($event)"></app-timeline>
  <app-skillprofile class="component" (elementClicked)="childElementClicked($event)"></app-skillprofile>
  <app-hobbies class="component" (elementClicked)="childElementClicked($event)"></app-hobbies>
  <app-personality class="component" (elementClicked)="childElementClicked($event)"></app-personality>
  <app-grades class="component" (elementClicked)="childElementClicked($event)"></app-grades>
  <app-testimonial class="component"></app-testimonial>
  <app-technologies class="component"></app-technologies>
</div>

<div id="spacer-bottom"></div>
