<h1 id="maintitle">DANIEL HJERTHOLM</h1>

<div id="spacer"></div>

<template #popover></template>

<div id="gridcontainer">
  <app-timeline (elementClicked)="childElementClicked($event)"></app-timeline>
  <app-skillprofile (elementClicked)="childElementClicked($event)"></app-skillprofile>
  <app-hobbies class="component" (elementClicked)="childElementClicked($event)"></app-hobbies>
  <app-personality class="component" (elementClicked)="childElementClicked($event)"></app-personality>
</div>

<div id="spacer"></div>
