:root {
  --background-color: #323639;
  --foreground-color: #eee;
  --highlight-color-1: #57a3c0;
  --highlight-color-2: #94c048;
  --highlight-color-3: #ffc545;
  --highlight-color-4: #f58946;
  --highlight-color-5: #fd6551;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

.component-title {
  color: var(--foreground-color);
  margin: 0px;
  font-size: 18px;
}

/* .popover-subtitle class is used in popoverComponent. Must be styled here becaus of the use of innerHTML and emulated encapsulation */
.popover-subtitle {
  margin: 0;
}

/* .popover-description is used in popoverComponent. Must be styled here becaus of the use of innerHTML and emulated encapsulation */
.popover-description {
  margin: 0;
}

.popover-description span {
  background-color: rgba(50, 54, 57, 0.8); /* #323639 + alpha */
}
