body {
  margin: 0;
  background-color:#323639;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 100;
}

#wrapper {
  width: 960px;
  margin: 0px auto 0px auto;
  padding: 1rem;
}

.component-title {
  color: #eee;
}

#maintitle {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: #eee;
}
