body {
  margin: 0;
  background-color:#323639;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

#wrapper {
  width: 960px;
  margin: 0px auto 0px auto;
  padding: 1rem;
}

.component-title {
  color: #eee;
}

#maintitle {
  font-size: 50px;
  text-align: center;
  color: #eee;
}

