<p class="component-title">University Grades</p>

<div
  class="course"
  *ngFor="let course of courses"
  [attr.popoverTitle]="course.subjectCode + ' - ' + course.subjectName"
  [attr.popoverSubtitle]="'Grade: ' + course.letterGrade()"
  [attr.popoverDescription]="course.semester"
  [style.width.px]="math.round(math.sqrt(course.points) * 4)"
  [style.height.px]="math.round(math.sqrt(course.points) * 4)"
  [style.top.px]="course.yPosition - math.round(math.sqrt(course.points) * 4) / 2"
  [style.left.px]="course.xPosition - math.round(math.sqrt(course.points) * 4) / 2"
  [ngClass]="course.cssClass"
  (click)="onClick($event)"
  >
</div>
